<article class="card post-card {{post_class}}{{#unless feature_image}} no-image{{/unless}}" >
		{{#if feature_image}}
			<a href="{{url}}">
				<div class="post-card-image" style="background-image: url({{feature_image}})"></div>
			</a>
		{{/if}}

		<div class="post-card-content">

			<header>
				{{#if primary_tag}}
					<span class="post-card-tags">{{primary_tag.name}}</span>
				{{/if}}

				<a href="{{url}}">
					<h3>{{title}}</h3>
				</a>
			</header>

			<section>
				<p>{{excerpt words="33"}}</p>
			</section>

			<footer>
				{{#if author.profile_image}}
					<img class="author-profile-image" src="{{author.profile_image}}" alt="{{author.name}}" />
				{{/if}}

				<span class="author-name">{{author}}</span>
			</footer>

		</div>
	</a>
</article>
