{{!< default}}

<main role="main">
	<section class="error-message">
		<h1>{{code}}</h1>
		<p>{{message}}</p>
		<a href="{{@blog.url}}">Go to the front page →</a>
	</section>
</main>

{{#get "posts" limit="3"}}
	<aside class="outer">
		<div class="inner">
			<div class="post-feed">
				{{#foreach posts}}
					{{> "post-card"}}
				{{/foreach}}
			</div>
		</div>
	</aside>
{{/get}}


{{#contentFor "header"}}
	<div class="site-header" style="background-image: url({{@blog.cover_image}})">
		<div>
			{{#if @blog.logo}}
				<img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
			{{else}}
				<h1>{{@blog.title}}</h1>
			{{/if}}

			<h2>{{@blog.description}}</h2>
		</div>
	</div>
{{/contentFor}}
