{{!< default}}

<main role="main">
	<section class="error-message">
		<h2>{{code}}</h2>
		<p>{{message}}</p>
		<a href="{{@blog.url}}">Go to the front page →</a>
	</section>

	{{#if errorDetails}}
		<section class="error-stack">
			<h4>Theme errors</h4>
			<ul class="error-stack-list">
				{{#each errorDetails}}
					<li>
						<em class="error-stack-function">{{{rule}}}</em>

						{{#each failures}}
							<p><span class="error-stack-file">Ref: {{ref}}</span></p>
							<p><span class="error-stack-file">Message: {{message}}</span></p>
						{{/each}}
					</li>
				{{/each}}
			</ul>
		</section>
	{{/if}}
</main>


{{#contentFor "header"}}
	<div class="site-header" style="background-image: url({{@blog.cover_image}})">
		<div>
			{{#if @blog.logo}}
				<img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
			{{else}}
				<h1>{{@blog.title}}</h1>
			{{/if}}

			<h2>{{@blog.description}}</h2>
		</div>
	</div>
{{/contentFor}}
