{{!< default}}

{{#post}}

	<main role="main">
		<article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

			<header class="post-full-header">
				<h1 class="post-full-title">{{title}}</h1>
			</header>

			{{#if feature_image}}
				<figure class="post-full-image" style="background-image: url({{feature_image}})">
				</figure>
			{{/if}}

			<section class="post-full-content">
				{{content}}
			</section>

		</article>
	</main>

{{/post}}

{{#contentFor "header"}}
	<div class="site-header" style="background-image: url({{@blog.cover_image}})">
		<div>
			{{#if @blog.logo}}
				<img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
			{{else}}
				<h1>{{@blog.title}}</h1>
			{{/if}}

			<h4>{{@blog.description}}</h4>
		</div>
	</div>
{{/contentFor}}
