{{!< default}}

{{#post}}

	<main role="main">
		<article class="post-full {{post_class}}">
			<section class="date">
				<time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
				{{#primary_tag}}
					<span class="date-divider">/</span> <a href="{{url}}">{{name}}</a>
				{{/primary_tag}}
			</section>

			<h1>{{title}}</h1>

			<section class="post-full-content">
				{{content}}
			</section>

			<footer>
				{{#if author.profile_image}}
					<img class="author-profile-image" src="{{author.profile_image}}" alt="{{author.name}}" />
				{{/if}}

				<span class="author-name">{{author}}</span>
			</footer>

		</article>
	</main>

	{{#if @labs.subscribers}}
		<section class="subscribe-form">
			<h3>Subscribe to {{@blog.title}}</h3>
			<p>Get the latest posts delivered right to your inbox</p>
			{{subscribe_form placeholder="youremail@example.com"}}
		</section>
	{{/if}}

	{{!-- Links to Previous/Next posts --}}
	<aside class="read-next-feed">
		{{#if primary_tag}}
			{{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related_posts|}}
				{{#if related_posts}}
					<article class="read-next-card"
						{{#if ../primary_tag.feature_image}}
							 style="background-image: url({{../primary_tag.feature_image}})"
						{{else}}
							{{#if @blog.cover_image}}style="background-image: url({{@blog.cover_image}})"{{/if}}
						{{/if}}
					>
						<header>
							<small>&mdash; {{@blog.title}} &mdash;</small>
							{{#../primary_tag}}
								<h3><a href="{{url}}">{{name}}</a></h3>
							{{/../primary_tag}}
						</header>
						<div class="read-next-divider">∞</div>
						<ul>
							{{#foreach related_posts}}
								<li><a href="{{url}}">{{title}}</a></li>
							{{/foreach}}
						</ul>
						<footer class="read-next-card-footer">
							<a href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">{{plural meta.pagination.total empty='No posts' singular='% post' plural='See all % posts'}} →</a>
						</footer>
					</article>
				{{/if}}
			{{/get}}
		{{/if}}

		{{!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs --}}
		{{#next_post}}
			{{> "post-card"}}
		{{/next_post}}

		{{!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs --}}
		{{#prev_post}}
			{{> "post-card"}}
		{{/prev_post}}
	</aside>


{{/post}}


{{#contentFor "header"}}
	{{#post}}
		<div class="site-header post-header"
			{{#if feature_image}}
				 style="background-image: url({{feature_image}})"
			{{else}}
				{{#if @blog.cover_image}}style="background-image: url({{@blog.cover_image}})"{{/if}}
			{{/if}}>

			<div></div>

		</div>
	{{/post}}
{{/contentFor}}
