{{!< default}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer" role="main">
	<div class="inner">
		<div class="post-feed">
			{{#foreach posts}}
				{{> "post-card"}}
			{{/foreach}}
		</div>
	</div>
</main>


{{#contentFor "header"}}
	{{#tag}}
		<div class="site-header" {{#if feature_image}}style="background-image: url({{feature_image}})"{{else}}style="background-image: url({{@blog.cover_image}}){{/if}}">
			<div>
				<h1 class="site-title">{{name}}</h1>
				<h4 class="site-description">
					{{#if description}}
						{{description}}
					{{else}}
						A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
					{{/if}}
				</h4>
			</div>
		</div>
	{{/tag}}
{{/contentFor}}
